

<div class="post-detail">

    <figure class="post-detail-pic">

        <img src="~/images/matrix4.jpg" asp-append-version="true" alt="Matrix-Poster">

    </figure>

    <div class="post-detail-header">
        <h1>
            @Model.title
        </h1>

    </div>

    <div class="post-detail-text">
        <p>
            @Model.text
            @Model.text
            @Model.text
            @Model.text
            @Model.text
        </p>
    </div>


</div>