@using MNS_Reviews.Models
@using System.Security.Claims
@model MNS_Reviews.Models.Serie
@{

    ViewData["Title"] = @Model.title;
}


@Html.Partial("_SerieDetail",@Model)




<h1 style="color:white">Comments</h1>
<hr />
<div class="post-cont">



<form asp-controller="Comment" asp-action="Create" class="comment-form">
         <textarea id="CommentText" name="CommentText"  rows="6" cols="110" maxlength="670"></textarea>
    
        <button class="comment-create-button"> Send </button>
  
    <input type="hidden" id="CommentOwner" name="CommentOwner" value="@User" /> 
        <input type="hidden" id="OwnerId" name="OwnerId" value="@User.Claims.Where(c => c.Type == "userId" ).Select(c => c.Value).SingleOrDefault()" />    
    <input type="hidden" id="OwnerName" name="OwnerName" value="@User.Claims.Where(c => c.Type == ClaimTypes.Name ).Select(c => c.Value).SingleOrDefault()" />
    <input type="hidden" id="PostId" name="PostId" value="@Model.PostId" />


</form>
</div>

@foreach(Comment comment in ViewBag.Comments)
{  
@await Html.PartialAsync("_Comment", comment);
}


